body {
  width: 100%;
  background: #ececec;
}
.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  background: #ececec;
  padding: 30px;
  background-image: url(./pic/hosp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: scroll;
  position: relative;
}
.name {
  width: 100%;
}
.bold {
  font-weight: bolder;
  color: #202124;
}
.search {
  width: 100%;
  display: flex;
  justify-content: center;
}
.title {
  width: 100%;
  word-wrap: break-word;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.35;
  color: rgb(102, 0, 153);
}
.empty {
  height: 80px;
  width: 100%;
}
